body {
    margin: 0;
    font-size: 14px;
    background-color: #e9eaeb;
    font-family: 'PingFang SC','Microsoft YaHei','SimSun','Arial', sans-serif;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #0c4c7f;
    cursor: pointer;
}

.clearfix:after{
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
}

.nav {
    width: 100%;
    background-color: #fff;
}

.nav_tabs {
    max-width: 1080px;
    margin: 0 auto;
}

.main {
    max-width: 1080px;
    min-height: 750px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
}

.main_content {
    width: 840px;
    margin: 0 auto;
}

.main_content_small {
    width: 480px;
    margin: 20px auto;
}

.main_with_nav {
    display: flex;
}

.main_nav_content {
    width: 100%;
}

.main_nav_content_section {
    padding: 0 20px;
    padding-top: 30px;
}