body {
    margin: 0;
    font-size: 14px;
    background-color: #e9eaeb;
    font-family: 'PingFang SC','Microsoft YaHei','SimSun','Arial', sans-serif;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #0c4c7f;
}

.clearfix:after{
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
}

.nav {
    width: 100%;
    background-color: #fff;
}

.nav_tabs {
    max-width: 1080px;
    margin: 0 auto;
}

.main {
    max-width: 1080px;
    min-height: 600px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
}